# .env.example

# Backend
BACKEND_URL=http://localhost:8000

# JWT
JWT_EXPIRES_MIN=15
JWT_REFRESH_EXPIRES_DAYS=30

# Departamentos (separados por comas)
# Ejemplo: DEPARTAMENTOS=Reporteros,Recursos Humanos,Redes
DEPARTAMENTOS=Reporteros,Recursos Humanos,Redes